.blog, .search, .archive, .error404 {
  @extend %page;

  .nothing-found {
    padding: 0 0 30px 0;
    .msg {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
    }
    @include respond-to($desktop) {
      padding: 0 0 50px 0;
    }
  }

  .search-categories {
    padding: 30px 0 30px 0;
    .wrapper {  min-height: 50px;  }
    @include respond-to($desktop) {
       padding: 50px 0 50px 0;
    }
  }
  .search-box {
    display: none;
    padding: 10px 0 10px 0;
    position: relative;
    @include respond-to($desktop) {
       padding: 50px 0 50px 0;
    }
    .search-close { position: absolute; 
      right: 0; 
      top: 0; 
      color: $ss-red;
      font-size: 50px;
      cursor: pointer;
    }
    .blog-search-active & {
      display: block;
    }

  }

  .filter-box {
    position: relative;
    .filter-close { 
      position: absolute; 
      right: 0; 
      top: 0;
      color: $ss-red;
      font-size: 50px;
      cursor: pointer;
    }
    display: none;
    padding: 50px 0 45px 0;
    .blog-filter-active & {
      display: block;
    }
    .list-col {
      list-style-type: none; 
      margin-left: 0;
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin-right: 1em;
      line-height: 2em;
      a { color: $ss-light-gray; 
          &:hover{ color: $ss-teal; }
        }
    }
  }

  .actions {
    padding-top: 5px;
    height: 50px;
    position: absolute; 
    right: 0;
    overflow: hidden;
    a { display: inline-block; }
    .blog-search-active & { display: none; }
    .blog-filter-active & { display: none; }
  }
  .post-listing {
    a { 
      color: #fff; 
      display: block; 
      padding: 30px 0 30px 0;
      @include respond-to($tablet) {padding: 50px 0 50px 0;}
      @include respond-to($desktop) {padding: 100px 0 100px 0;}
    } 
    // &:nth-child(n) { background: darken($ss-teal, 5% };
    background: $ss-teal;
    border-bottom: 1px solid darken($ss-teal , 3);
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        background-color: darken($ss-teal , 1.5*$i);
        border: 0;
      }
    }
    
  }
  .post-title, .post-date{
    display: block;
    @include respond-to($desktop) {
      display: inline-block;
    }
  }
  .post-date {
    width: 100%;
    @include respond-to($desktop) {
      width: 30%;
    }
  }
  .post-title {
    @extend .din;
    font-size: 18px;
    text-transform: uppercase;
  }
  .pagination {
    a { 
      color: #fff;
      font-size: 50px;
      display: block;
      width: 43px;
      height: 43px;
    }
    %pager-link {
      width: 43px;
      height: 43px;
      position: absolute;
      background: url(../img/pager-sprites.png) no-repeat;
      @include image-2x("../img/pager-sprites@2x.png", auto, 43px);
    }
    .left-links a { 
      left: 0; 
      @extend %pager-link;
      background-position: left;
    }
    .right-links a { 
      right: 0; 
      @extend %pager-link;
      background-position: right;
    }
    .wrapper{ 
      height: 50px; 
      position: relative; 
    }
    padding: 50px 0 40px 0;
    background: $ss-green;
  }
}


.single-post {
  .splash {
    h1 { 
      @extend .din;
      text-transform: uppercase;
      font-size: 36px;
    }
    background: $ss-teal;
    color: #fff;
    padding: 50px 1em 50px 1em;
    @include respond-to($desktop) {
        h1 {
          font-size: 62px;
        }
        padding: 100px 0 100px 0;
    }
  }
  .share {
    padding: 50px 1em 40px 0;
    text-align: right;
    text-transform: uppercase;
    color: $ss-teal;
    .social {
      vertical-align: middle;
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(../img/social-sprites.png) no-repeat;
    }
    .fb   { background-position: 0px;  }
    .twt  { background-position: -24px; }
  }
  .copy {
    padding: 0 1em 50px 1em;
    color: $ss-light-gray;
    @include respond-to($desktop) { padding: 0 0 50px 0; }
  }
  .post-footer {
    a { 
      color: $ss-light-gray;
      display: block;
    }
    border-top: 1px solid $ss-lighter-gray;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 40px 0;
    .arrow.left {
      margin: 10px auto;
    }
  }
}

#search-form {
  input[type=text] {
    border: 0;
    padding: 2em 0 2em 0;
    border-bottom: 1px solid $ss-lighter-gray;
    width: 100%;
    outline: 0;
    font-family: "din", sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
  }
}