.site-footer{
  .wrapper { 
    padding: 50px 0 50px 0;
    text-align: center;
    .grid-3 { margin-bottom: 1.3em; }
    @include respond-to($desktop) {
      padding: 100px 0 100px 0;
      text-align: left;
      .grid-3 { margin-bottom: 0; }
    }
  }
  .head {
    text-transform: uppercase;
    margin-bottom: 0.3em;
    font-weight: 600;
    @include respond-to($desktop) {
      margin-bottom: 1em;
    }
  }
  .copyright {
    @extend .head;
    margin-bottom: 0;
    margin-top: 0.75em;
    text-align: center;
    @include respond-to($desktop) {
      text-align: right;
    }
  }
  line-height: 1.8;
  font-weight: 100;
  background: $ss-dark-gray;
  color: $ss-light-gray;
}

.footer-map {
  background: url(../img/footer-map.png) top left no-repeat $ss-med-gray;
  height: 138px;
  width: 100%;
}


.social-icons {
  list-style-type: none;
  margin: 0;
  text-align: center;
  .social {
    margin-left: 25px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/social-sprites.png) no-repeat;
    @include image-2x("../img/social-sprites@2x.png", auto, 24px);
    &:first-child {
      margin-left: 0;
    }
    &.fb   { background-position: 0px;  }
    &.twt  { background-position: -24px; }
    &.ins  { background-position: -48px; }
    &.lnkd { background-position: -72px; }
    &.rss  { background-position: -96px; }
  }
  
  @include respond-to($desktop) {
    text-align: right;
  }
}