.site-header {
  @include vendor('box-shadow', 0px 1px 1px 0px $ss-lighter-grey);
  height: 60px;
  background: #fff;
  z-index: 9999;


  .mobile-nav-toggle{
    width: 60px;
    height: 60px;
    background: url(../img/menu-icon.png) top no-repeat;
    @include image-2x("../img/menu-icon@2x.png", 60px, 120px);
    cursor: pointer;
    display: inline-block;
    .mobile-nav-active & {
      background-position: bottom;
    }
    @include respond-to($desktop) {
        display: none;
    }
  }


  #logo {
    display: inline-block;
    width: 180px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/logo.png) ; 
    background-repeat: no-repeat;
    background-position: center center;
    @include image-2x("../img/logo@2x.png", 180px, 150px);
    .stuck & {
      background-position:  center;
    }
    @include respond-to($desktop) {
        left: 0;
        margin-top: 0; 
        // height: 150px;
        background-position: center center;
    }
  }

  .primary-nav {
    display: none;
    position: absolute;
    right: 0;
    overflow: hidden;
    ul { height: 100%; }
    a {
      font-family: $brand-face;
      color: $ss-light-gray;
      text-transform: uppercase;
      font-weight: 600;
      display: block;
    }
    li {
      @include vendor('transition', padding 0.3s ease-out);
      border-top: 5px solid #fff;
      padding-top: 20px;
      float: left;
      margin-left: 20px;
      @include vendor('transition', border-color 0.3s ease-out);
      &:hover, &.current-menu-item, &.current_page_parent{
        border-color: $ss-teal;
        a { color: $ss-teal; }
      }
    }
   
    @include respond-to($desktop) {
      display: inline-block;
    }
  }


  @include respond-to($desktop) {
    @include vendor('transition', height 0.3s ease-out);
    // height: 150px;
  }

}