.mobile-nav {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 999999;
  @include vendor('box-shadow', 0 0 2px 0px $ss-light-gray);
  &:before {
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    top: -10px;
    left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $ss-teal;
  }
  a {
    background: #fff;
    display: block;
    font-size: 16px;
    font-family: $brand-face;
    text-transform: uppercase;
    color: $ss-dark-grey;
    padding: 1em 0 1em 1em;
    &:hover {
      color: #fff;
      background: $ss-light-gray;
    }
  }
  .mobile-nav-inactive & {
    display: none;
  }
  .mobile-nav-active & {
    display: block;
  }
}
.mobile-nav-wrapper {
  position: relative;
  
  @include respond-to($desktop) { display: none; }
}
// .site-wrapper {
//   @include ease-out-all;
//   overflow-y:hidden;
//   width: 100%;
//   background: #fff;
//   position: relative;
//   top: 0px;
//   left: 0px;
//   margin-left: 0px;
//   // .mobile-nav-active & {
//   //   margin-left: 270px;
//   // }
// }
// .mobile-nav {
//   .header-stuck & {
//     margin-top: 60px;
//   }
//   @include ease-out-all;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   width: 270px;
//   height: 100%;
//   background-color: $ss-dark-grey;
//   margin-left: -270px;
//   a {
//     color: $ss-light-gray;
//     padding: 1em;
//     padding: 1em;
//     display: block;
//     border-bottom: 1px solid $ss-light-gray;
//     &:hover, &:active { 
//       color: $ss-teal;
//       background: $ss-med-gray;
//     }
//   }
//   li.current-menu-item a { 
//     color: $ss-teal; 
//     background: $ss-med-gray;
//   }
//   .mobile-nav-active & {
//     // margin-left: 0;
//   }
// }
// .mobile-nav-toggle{
//   .active {
//     display: none;
//     .mobile-nav-active & {
//       display: block;
//     }
//   }
//   .inactive {
//     display: block;
//      .mobile-nav-active & {
//       display: none;
//     }
//   }
// }