%page {
  color: $ss-light-gray;
  .splash img {
    width: 100%;
    height: auto;
    display: block;
  }
  .stuck {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    .mobile-nav-active & {
      margin-left: 270px;
    }
    #logo { 
      margin-top: 0;
    }
    .primary-nav {
      height: 60px;
      li {
        padding-top: 20px;
      }
    }
  }
  .hr {
    display: block;
    height: 10px;
    width: 100%;
    overflow: hidden;
    background-position: top center;
  }
}

.page-template-default {
  @extend %page;
  .content {
    line-height: 1.4em;
    margin: 50px 0 50px 0;
    color: #807e82;
  }
}
