.page-home {
  @extend %page;
  #front-splash {
    position: relative; 
    // height: 900px; 
    padding: 100px 0 100px 0;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: top center;
    text-shadow: 0 0 5px $ss-dark-grey;
    @include respond-to($desktop) {
      height: 900px;
    }
  }
  .splash-text {
    @extend .din;
    // position: absolute; 
    z-index: 11; 
    text-align: center; 
    margin: 0 auto; 
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    @include respond-to($tablet) {
      font-size: 22px;
    }
    @include respond-to($desktop) {
      font-size: 30px;
      padding: 0;
      padding-top: 15%;
      position: absolute;
    }
  }
  .splash-link img {
    width: 33px;
    height: auto;
    margin: 0 auto;
  }

  .services {
    @extend %module;
    .module-header {
      color: $ss-light-gray;
      font-weight: 100;
      text-transform: uppercase;
      border-bottom: 1px solid $ss-lighter-gray;
      padding: 50px 0 40px 0;
    }
    .module-body {
      padding: 50px 0 50px 0;
      text-align: center;
      @include respond-to($desktop) {
        text-align: left;
      }
    }
    .service {
      .header {
        @extend .din;
        text-transform: uppercase;
        margin-bottom: 1em;
        font-size: 22px;
        text-align: center;
      }
      p {
        line-height: 1.6;
        font-weight: 100;
        font-size: 16px;
      }
      background-repeat: no-repeat;
      background-position: left 50% top 10px;
      padding-top: 90px;
      vertical-align: top;
      text-align: left;
      color: $ss-light-gray;
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
      @include respond-to($tablet) {
          width: 50%;
      }
      @include respond-to($desktop) {
        .header { text-align: left; }
        margin-bottom: 0;
        margin-right: 24px;
        width: 190px;
        background-position: left 30px top 10px;
        &:last-child { margin-right: 0;}
      }
      @include respond-to($large-screen) {
        width: 213px;
        margin-right: 30px;
        &:last-child { margin-right: 0;}
      }
    }
    .module-footer{
      color: $ss-light-gray;
      text-transform: uppercase;
      border-top: 1px solid $ss-lighter-gray;
      padding: 50px 0 30px 0;
      .arrow.right { margin: 10px auto; } 
    }
  }

  .featured-projects {
    @extend %module;
    .module-header{
      color: $ss-light-gray;
      font-weight: 100;
      text-transform: uppercase;
      border-bottom: 1px solid $ss-lighter-gray;
      padding: 50px 0 40px 0;
    }
    .module-body{
      padding: 50px 0 50px 0;
      text-align: center;
    }
    .module-footer{
      color: $ss-light-gray;
      text-transform: uppercase;
      border-top: 1px solid $ss-lighter-gray;
      padding: 50px 0 30px 0;
      .arrow.right { margin: 10px auto; } 
    }
  }
  %project {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    overflow: hidden;
  }
  .featured-project{
    @extend .flip-card;
    @extend %project;
    display: inline-block;
    margin: 20px;
    .front {  
      @extend %project;
    }
    .back { 
      @extend %project;
      background: $ss-dark-grey; 
      text-align: center;
      padding-top: 45%;
    }
    a {
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .img-above-footer{
    display: none;
    background-position: top center;
    height: 450px;
    @include respond-to($desktop) {
      display: block;
      
    }   
  }

  %pullquote{
    @extend .din;
    padding: 40px 0 40px 0;
    background: $ss-green;
    color: #fff;
    text-align: center;
    .wrapper { position: relative;}
    @include respond-to($desktop) {
      padding: 100px 0 100px 0;
    }
  }
  .pullquote-1 {
    @extend %pullquote;
    font-size: 20px;
    &:before {
      font-size: 55px;
      font-family: $base-font-family;
      content: $ldquo;
    }
    &:after {
      font-size: 55px;
      font-family: $base-font-family;
      content: $rdquo;
      position: relative; 
      top: .75em;
    }
    @include respond-to($tablet) {
      font-size: 30px;
    }
    @include respond-to($desktop) {
      font-size: 36px;
    }
  }
  .pullquote-2 {
    @extend %pullquote;
    background-position: top center;
    font-size: 30px;
    .open:before {
      font-family: $base-font-family;
      content: $ldquo;
      position: absolute; 
      top: 35%;
      left: 0;
    }
    .close:before {
      font-family: $base-font-family;
      content: $rdquo;
      position: absolute; 
      top: 35%;
      right: 0;
    }
    @include respond-to($desktop) {
      font-size: 60px;
    }
  }
}