.page-about {
  @extend %page;

  .we-are-soulsight {
    padding: 50px 1em 50px 1em;
    background: $ss-teal;
    color: #fff;
    h1 { text-transform: uppercase; }
    @include respond-to($desktop) {
      padding: 100px 0 100px 0;
    }
  }

  .the-team {
    @extend %module;
    .module-header {
      color: $ss-light-gray;
      font-weight: 100;
      text-transform: uppercase;
      border-bottom: 1px solid $ss-lighter-gray;
      padding: 50px 0 40px 0;
    }
    .module-body {
      padding: 50px 1em 50px 1em;
      text-align: center;
      @include respond-to($desktop) {
        text-align: left;
        padding: 50px 0 50px 0;
      }
    }
    .module-footer {
      color: $ss-light-gray;
      text-transform: uppercase;
      border-top: 1px solid $ss-lighter-gray;
      padding: 50px 0 30px 0;
      .arrow.down { margin: 10px auto; } 
    }
  }
  %card {
    border-radius: 100%;
    width: 195px;
    height: 195px;
    overflow: hidden;
  }
  .team-member { 
    @extend .flip-card;
    @extend %card;
    display: inline-block;
    margin: 20px auto 20px auto;
    background: white;
    .front {  
      @extend %card;
    }
    .back { 
      @extend %card;
      background: $ss-dark-grey; 
      text-align: center;
      padding-top: 40%;
    }
    .member-name {
      color: $ss-green;
      text-transform: uppercase;
      font-family: $brand-face;
    }
    .member-title {
      color: $ss-light-grey;
      font-size: 0.9em;
      margin-top: 0.5em;
    }
    @include respond-to($tablet) {
        margin-right: 10px;
        &:nth-child(4n) { margin-right: 0;}
    }
    @include respond-to($desktop) {
        margin-right: 18px;
        &:nth-child(4n) { margin-right: 0;}
    }
    @include respond-to($large-screen) {
        margin-right: 55px;
        &:nth-child(4n) { margin-right: 0;}
    }
  }

  .join-the-team {
    padding: 50px 1em 50px 1em;
    background: $ss-green;
    color: #fff;
    @include respond-to($desktop) {
        padding: 100px 0 100px 0;
      }
    .copy {
      margin-bottom: 80px;
    }
    .listings {
      ul { 
        margin: 20px 0; 
        list-style-type: none; 
        overflow: hidden;
      }
      li {
        float: left;
        border: 1px solid #fff;
        margin-bottom: 25px;
        width: 100%;
        @include respond-to($desktop) {
          width: 200px;
          margin-left: 50px;
          &:first-child { margin: 0;}
        }
        
      }
      a {
        color: #fff;
        text-align: center;
        width: 100%;
        display: block;
        border-radius: 5px;
        padding: 1.5em;
        @include respond-to($desktop) {
          width: 200px;
        }
      }
    }
  }
  

  .find-us {
    @extend %module;
    .module-header{
      color: $ss-light-gray;
      font-weight: 100;
      text-transform: uppercase;
      border-bottom: 1px solid $ss-lighter-gray;
      padding: 50px 0 40px 0;
    }
    .module-body {
      padding: 50px 1em 50px 1em;
      @include respond-to($desktop) {
        padding: 100px 0 100px 0;
      }
    }
    .world-map-wrap {
    }
    .world-map {
      background: none;
      @include respond-to($desktop) {
        margin: auto;
        width: 845px;
        height: 562px;
        position: relative;
        background: url(../img/world-map.png) 0 0 no-repeat;
        background-size: contain;
      }
      
    }
    .tiptop {
      @extend .din;
      font-size: 12px;
      text-transform: uppercase;
      padding: 1em 1.5em 1em 1.5em;
      color: #fff;
      background: $ss-dark-grey;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 30px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $ss-dark-grey;
      }
    }
    .map-marker {
      display: block;
      padding: 1em;
      width: 100%;
      background: $ss-dark-grey;
      margin-bottom: 0.25em;
      cursor: pointer;
      &:after {
        content: attr(data-location);
        color: #fff;
        background: $ss-dark-grey;
        padding: 1em;
        // width: 100%;
      }
      @include respond-to($desktop) {
        &:after { 
          content: ""; 
          background: 0;
          padding: 0;
        }
        padding: 0;
        position: absolute;
        background: #000;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        z-index: 999;
        &#north-america {
          top: 33%;
          left: 22%;
          background: $ss-teal;
        }
        &#europe {
          top: 33%;
          left: 45%;
          background: $ss-red;
        }
        &#latin-america {
          top: 41%;
          left: 18.5%;
          background: $ss-red;
        }
        &#asia {
          top: 35%;
          left: 80%;
          background: $ss-green;
        }
        &#africa {
          top: 50%;
          left: 48%;
          background: $ss-teal;
        }
        &#south-america{
          top: 66%;
          left: 33%;
          background: $ss-green;
        }
      }
    }
    .copy {
      margin: 100px 0 0 0;
      color: $ss-light-gray;
      font-weight: 100;
    }
  }

}