.page-services {
  @extend %page;
  .sticky-menu {
    font-size: 16px;
    display: none;
    @include respond-to($desktop) {
      display: block;
    }
  }
  #services{
    @include vendor('transition', all 0.3s ease-out);
    background: $ss-dark-grey;
    color: #fff;
    
    a {
        color: $ss-green;
    }

    h2 { 
      text-transform: uppercase; 
      color: $ss-green;
    }

    p {
      line-height: 1.8;
      font-size: 16px;
    }

    nav { 
      padding: 100px 0 100px 0;
    }

    li {
      margin-bottom: 1em;
    }

    .fixed-menu {
      position: fixed;
      margin-bottom: 100px;
      top: 100px;
      z-index: 9999;
      @include vendor('transition', all 0.3s ease-out);
    }

    .service {
      margin-bottom: 200px;
      padding: 100px 1em 0 1em;      
      background-repeat: no-repeat;
      background-position: -200px -200px;
      p {  
        @extend .prose; 
        color: #fff;
      }
      @include respond-to($desktop) {
        margin-bottom: 400px;
        padding: 200px 0;      
        padding-left: 150px;
        background-position: top 200px left 20px;
      }
    }



    #strategy { 
      @include respond-to($desktop) {
        padding-top: 100px;
        background-position: top 100px left 20px;
      }
    }
    

    &.strategy {
      a {
        color: $ss-green;
        &.active { color: #fff; }
      }
      h2 { color: $ss-green; }
      background: $ss-dark-grey;
      p { color: #fff; }
    }
    &.branding {
      a {
        color: $ss-light-grey;
        &.active { color: $ss-green; }
      }
      h2 { color: $ss-light-grey; }
      background: #fff;
      p { color: $ss-light-grey; }
    }
    &.packaging {
      a {
        color: $ss-dark-grey;
        &.active { color: #fff; }
      }
      h2 { color: #fff; }
      background: $ss-teal;
      p { color: #fff; }
    }
    &.structural {
      a {
        color: #fff;
        &.active { color: $ss-med-grey; }
      }
      h2 { color: $ss-med-grey; }
      background: $ss-green;
      p { color: #fff; }
    }
    &.additional {
      
      a {
        color: $ss-teal;
        &.active { color: $ss-light-grey; }
      }
      h2 { color: $ss-light-grey; }
      background: #fff;
      p { color: $ss-light-grey; }
    }

  }
}


    /**
     * Shame
     */
    // .ie-lt-9 #structural { margin-right: 0 !important;}
