.page-work {
  @extend %page;
  .project-grid {
    padding: 100px 0 100px 0;
    text-align: center;
  }
  .project {
    margin: 0 5px 5px 0;
    display: inline-block;
    
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #eee;
    a {
      width: 312px;
      height: 415px;
      display: block;
    }
  }
  .clients {
    background: $ss-green;
    padding: 100px 0 100px 0;
    text-align: center;
    img {
      width: 220px;
      height: 75px;
    }
  }
  .client{
    display: inline-block;
    margin: 0 10px 20px 0;
  }

  .services {
    a { color: $ss-light-gray; display: block;}
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid $ss-lighter-gray;
    padding: 50px 0 30px 0;
    .arrow.right { margin: 10px auto; } 
  }
}
