.single-project {
  @extend %page;
  .project-detail {
    color: $ss-light-grey;
    padding: 50px 0 50px 0;
    @include respond-to($desktop) {
      padding: 100px 0 100px 0;
    }
  }
  .project-name {
    @extend .din;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .project-categories {
    font-size: 18px;
  }
  .project-description{
    margin-top: 2em;
    line-height: 1.6;
    font-size: 16px;
  }
  .project-images {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .know-more {
    color: $ss-light-grey;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 40px 0;
    border-top: 1px solid $ss-lighter-gray;
    div {
      margin-bottom: 1em;
      &:last-child{
        margin: 0;
      }
    }
    a { 
      display: block;
      color: $ss-light-grey;
    }
  }
}