@mixin btn ($color, $bg-color, $border: false){
  color: $color;
  background: $bg-color;
  a {
    color: $color;
  }
  @if ($border == true){
    border: 1px solid $color;
  }
  &:hover {
    color: $bg-color;
    background: $color;
     a {
      color: $bg-color;
    }
    border: 1px solid $bg-color;
  }
}

@mixin trans-btn ($color, $hover-color, $border: false){
  color: $color;
  // background: $hover-color;
  a {
    color: $color;
  }
  @if ($border == true){
    border: 1px solid $color;
  }
  &:hover {
    color: $hover-color;
    // background: $color;
     a {
      color: $hover-color;
    }
    border: 1px solid $hover-color;
  }
}

