
.flip-card {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;

}
    
.flip-card:hover .flipper, .flip-card.hover .flipper, #flip-toggle.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
   -ms-filter: "FlipH";
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  height: 100%;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  @include vendor('transform', rotateY(180deg));
}




