%module {
  .module-header {  
    text-align: center;
    padding: 0.75em 0 0.75em 0;
    vertical-align: middle;
  }
  .module-body {
    
  }
  .module-footer {
    text-align: center;
    a {
      color: $link-color;
    }
  }
}