.arrow {
  background: url(../img/arrow-sprites.png) no-repeat;
  width: 21px;
  height: 24px;
  &.left { background-position: 0; }
  &.down { background-position: -21px; }
  &.up { background-position: -42px; }
  &.right { background-position: -63px; }
  @include image-2x("../img/arrow-sprites@2x.png", auto, 24px);
}

.icon {
  background: url(../imgs/icon-sprites.png) no-repeat;
  &.list { 
    background-position: 0 0;
    width: 52px;
    height: 36px;
  }
  &.envelope { 
    background-position: -56px -9px;
    width: 24px;
    height: 19px;
  }
  &.search { 
    background-position: -89px 0;
    width: 41px;
    height: 40px;
  }
}