html {
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    color: #000;
    font-weight: 100;
    overflow-y:scroll;
    min-height:100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; /* This needs to be set or some font faces fonts look bold on Mac. */
}

h1,h2,h3,h4,h5,h6,hgroup,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
.media {
    margin-bottom:$base-spacing-unit;
    margin-bottom:($base-spacing-unit / $base-font-size)*1rem;
}


/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
    margin-bottom:$base-spacing-unit - 2px;
    margin-bottom:(($base-spacing-unit - 2px) / $base-font-size)*1rem;
}


/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,ol,dd {
    margin-left:2 * $base-spacing-unit;
    margin-left:(2 * $base-spacing-unit / $base-font-size)*1rem;
}

.centered {
  text-align: center;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover  {
        color: lighten($link-color, 10%);
    }
}


h1, h2 {
    @extend .din;
    font-weight: 100 !important;
}

.prose {
    h1, h2 {
        text-transform: uppercase;
    }
    p {
        line-height: 1.6;
        font-size: 16px;
        font-weight: 100 !important;
    }
    ul {
        margin-bottom: 1em;
    }
}

.four-oh-four-msg {
    text-align: center;
    font-size: 120px;
    padding: 1.3em;
}