// Set font-size and vertical rhythm in one-fell-swoop
@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}


@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

@mixin ease-out-all {
  @include vendor('transition', all 0.3s ease-out); 
}

@mixin respond-to($query) {
    @media only screen and (#{$query})  {
        @content;
    }
}

@mixin on-retina {
    @media (-webkit-min-device-pixel-ratio: 2), 
           (min-resolution: 192dppx) { 
            @content;
    }
}


@mixin image-2x($image, $width, $height) {
    @include on-retina {
        background-image: url($image);
        background-size: $width $height;
    }
}

@mixin show-on-desktop-only {
  display: none;
  @include respond-to($desktop) {
    display: block;
  }
 
}

@mixin image-replace{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.mobile-hide {
  display: none;
  @include respond-to($desktop){
    display: inline-block;
  }
}
.mobile-show {
  display: block;
  @include respond-to($desktop){
    display: none;
  }
}

/*
  Micro Clearfix
   @usage: 
      @include clearfix to keep classes semantic 
*/
@mixin clearfix {
    *zoom:1;
    &:before,
    &:after{
        content:"";
        display:table;
        clear:both;
    }
    &:after {
      clear:both;
    }
}

