@font-face {
    font-family: 'din';
    src: url('../fonts/dinbek-medium-webfont.eot');
    src: url('../fonts/dinbek-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinbek-medium-webfont.woff') format('woff'),
         url('../fonts/dinbek-medium-webfont.ttf') format('truetype'),
         url('../fonts/dinbek-medium-webfont.svg#dinbekregular') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular"') format('svg');
    font-weight: 300;
    font-style: normal;

}

/*
*   Typekit Font Weights
*
*    100 = thin
*    200 = extra-light
*    300 = light
*    400 = normal, book
*    500 = medium
*    600 = demi-bold
*    700 = bold
*    800 = heavy
*    900 = black
*
*/
$weights: "thin", "extra-light", "light", "normal", "medium", "demi-bold", "bold", "heavy", "black";

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: unquote(index($weights, $weight) + '00');
  }
}

.weight-book {
  font-weight: 400; // Normal is the same weight as Book.
}