/*----------------------------------------------------------------------------*\
*  $DEBUG-MODE -  visually highlight any potential markup/accessibility quirks
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BORDER-BOX - http://www.paulirish.com/2012/box-sizing-border-box-ftw 
\*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BASE-STYLES
\*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BRAND-STYLES
\*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BREAKPOINTS
\*----------------------------------------------------------------------*/
/* Larger mobile */
/* Tablet & Smaller Laptops */
/* Desktop */
/* Large Screens */
.mobile-hide {
  display: none; }
  @media only screen and (min-width: 1030px) {
    .mobile-hide {
      display: inline-block; } }

.mobile-show {
  display: block; }
  @media only screen and (min-width: 1030px) {
    .mobile-show {
      display: none; } }

/*
  Micro Clearfix
   @usage: 
      @include clearfix to keep classes semantic 
*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

.grid-1 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-1:last-child, .grid-1.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-1 {
      width: 51px; } }
  @media only screen and (min-width: 1240px) {
    .grid-1 {
      width: 60px; } }

.grid-2 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-2:last-child, .grid-2.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-2 {
      width: 122px; } }
  @media only screen and (min-width: 1240px) {
    .grid-2 {
      width: 140px; } }

.grid-3 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-3:last-child, .grid-3.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-3 {
      width: 193px; } }
  @media only screen and (min-width: 1240px) {
    .grid-3 {
      width: 220px; } }

.grid-4 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-4:last-child, .grid-4.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-4 {
      width: 264px; } }
  @media only screen and (min-width: 1240px) {
    .grid-4 {
      width: 300px; } }

.grid-5 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-5:last-child, .grid-5.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-5 {
      width: 335px; } }
  @media only screen and (min-width: 1240px) {
    .grid-5 {
      width: 380px; } }

.grid-6 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-6:last-child, .grid-6.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-6 {
      width: 406px; } }
  @media only screen and (min-width: 1240px) {
    .grid-6 {
      width: 460px; } }

.grid-7 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-7:last-child, .grid-7.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-7 {
      width: 477px; } }
  @media only screen and (min-width: 1240px) {
    .grid-7 {
      width: 540px; } }

.grid-8 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-8:last-child, .grid-8.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-8 {
      width: 548px; } }
  @media only screen and (min-width: 1240px) {
    .grid-8 {
      width: 620px; } }

.grid-9 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-9:last-child, .grid-9.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-9 {
      width: 619px; } }
  @media only screen and (min-width: 1240px) {
    .grid-9 {
      width: 700px; } }

.grid-10 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-10:last-child, .grid-10.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-10 {
      width: 690px; } }
  @media only screen and (min-width: 1240px) {
    .grid-10 {
      width: 780px; } }

.grid-11 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-11:last-child, .grid-11.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-11 {
      width: 761px; } }
  @media only screen and (min-width: 1240px) {
    .grid-11 {
      width: 860px; } }

.grid-12 {
  width: 100%;
  display: inline-block;
  margin-right: 20px;
  float: left; }
  .grid-12:last-child, .grid-12.last {
    margin-right: 0; }
  @media only screen and (min-width: 1030px) {
    .grid-12 {
      width: 832px; } }
  @media only screen and (min-width: 1240px) {
    .grid-12 {
      width: 940px; } }

.wrapper {
  *zoom: 1;
  width: 96%;
  margin: 0 auto;
  position: relative; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .wrapper:after {
    clear: both; }
  @media only screen and (min-width: 1030px) {
    .wrapper {
      width: 846px; } }
  @media only screen and (min-width: 1240px) {
    .wrapper {
      width: 960px; } }

html {
  font: 0.875em/1.28571 "Proxima Nova", sans-serif;
  color: #000;
  font-weight: 100;
  overflow-y: scroll;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* This needs to be set or some font faces fonts look bold on Mac. */ }

h1, h2, h3, h4, h5, h6, hgroup, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
.media {
  margin-bottom: 18px;
  margin-bottom: 1.28571rem; }

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
  margin-bottom: 16px;
  margin-bottom: 1.14286rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 36px;
  margin-left: 2.57143rem; }

.centered {
  text-align: center; }

nav ul {
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #00a0ae; }
  a:hover {
    color: #00cfe1; }

h1, h2 {
  font-weight: 100 !important; }

.prose h1, .page-services #services .service p h1, .prose h2, .page-services #services .service p h2 {
  text-transform: uppercase; }
.prose p, .page-services #services .service p p {
  line-height: 1.6;
  font-size: 16px;
  font-weight: 100 !important; }
.prose ul, .page-services #services .service p ul {
  margin-bottom: 1em; }

.four-oh-four-msg {
  text-align: center;
  font-size: 120px;
  padding: 1.3em; }

@font-face {
  font-family: 'din';
  src: url("../fonts/dinbek-medium-webfont.eot");
  src: url("../fonts/dinbek-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinbek-medium-webfont.woff") format("woff"), url("../fonts/dinbek-medium-webfont.ttf") format("truetype"), url("../fonts/dinbek-medium-webfont.svg#dinbekregular") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular"') format("svg");
  font-weight: 300;
  font-style: normal; }
/*
*   Typekit Font Weights
*
*    100 = thin
*    200 = extra-light
*    300 = light
*    400 = normal, book
*    500 = medium
*    600 = demi-bold
*    700 = bold
*    800 = heavy
*    900 = black
*
*/
.weight-thin {
  font-weight: 100; }

.weight-extra-light {
  font-weight: 200; }

.weight-light {
  font-weight: 300; }

.weight-normal {
  font-weight: 400; }

.weight-medium {
  font-weight: 500; }

.weight-demi-bold {
  font-weight: 600; }

.weight-bold {
  font-weight: 700; }

.weight-heavy {
  font-weight: 800; }

.weight-black {
  font-weight: 900; }

.weight-book {
  font-weight: 400; }

.rotate1 {
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  -moz-transform: rotate(0deg) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) translate3d(0, 0, 0);
  -o-transform: rotate(0deg) translate3d(0, 0, 0);
  transform: rotate(0deg) translate3d(0, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); }

.rotate2 {
  -webkit-transform: rotate(-180deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-180deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-180deg) translate3d(0, 0, 0);
  -o-transform: rotate(-180deg) translate3d(0, 0, 0);
  transform: rotate(-180deg) translate3d(0, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); }

/* endif */
/**
*   The  pseudo-element 'content' property doesnt accept normal (&raquo;) style 
*   HTML entities. These variables below easy the pain of looking up the HEX codes...
*    
*   Referenced from http://www.danshort.com/HTMLentities/
*
*   TODO: Add all the other entities? Worth it? Some day? Maybe?
*/
.page-about .the-team .module-header, .page-about .find-us .module-header, .page-home .services .module-header, .page-home .featured-projects .module-header {
  text-align: center;
  padding: 0.75em 0 0.75em 0;
  vertical-align: middle; }
.page-about .the-team .module-footer, .page-about .find-us .module-footer, .page-home .services .module-footer, .page-home .featured-projects .module-footer {
  text-align: center; }
  .page-about .the-team .module-footer a, .page-about .find-us .module-footer a, .page-home .services .module-footer a, .page-home .featured-projects .module-footer a {
    color: #00a0ae; }

/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 * @usage:
   <div class=media>
       <span class=media-img><img src=http://placekitten.com/200/300 alt="" ></span>
       <p class=media-body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 
 */
.arrow {
  background: url(../img/arrow-sprites.png) no-repeat;
  width: 21px;
  height: 24px; }
  .arrow.left {
    background-position: 0; }
  .arrow.down {
    background-position: -21px; }
  .arrow.up {
    background-position: -42px; }
  .arrow.right {
    background-position: -63px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
    .arrow {
      background-image: url("../img/arrow-sprites@2x.png");
      background-size: auto 24px; } }

.icon {
  background: url(../imgs/icon-sprites.png) no-repeat; }
  .icon.list {
    background-position: 0 0;
    width: 52px;
    height: 36px; }
  .icon.envelope {
    background-position: -56px -9px;
    width: 24px;
    height: 19px; }
  .icon.search {
    background-position: -89px 0;
    width: 41px;
    height: 40px; }

.flip-card, .page-about .team-member, .page-home .featured-project {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000; }

.flip-card:hover .flipper, .page-about .team-member:hover .flipper, .page-home .featured-project:hover .flipper, .flip-card.hover .flipper, .page-about .hover.team-member .flipper, .page-home .hover.featured-project .flipper, #flip-toggle.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2; }

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.site-header {
  -webkit-box-shadow: 0px 1px 1px 0px #c4c4c4;
  -moz-box-shadow: 0px 1px 1px 0px #c4c4c4;
  -ms-box-shadow: 0px 1px 1px 0px #c4c4c4;
  -o-box-shadow: 0px 1px 1px 0px #c4c4c4;
  box-shadow: 0px 1px 1px 0px #c4c4c4;
  height: 60px;
  background: #fff;
  z-index: 9999; }
  .site-header .mobile-nav-toggle {
    width: 60px;
    height: 60px;
    background: url(../img/menu-icon.png) top no-repeat;
    cursor: pointer;
    display: inline-block; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
      .site-header .mobile-nav-toggle {
        background-image: url("../img/menu-icon@2x.png");
        background-size: 60px 120px; } }
    .mobile-nav-active .site-header .mobile-nav-toggle {
      background-position: bottom; }
    @media only screen and (min-width: 1030px) {
      .site-header .mobile-nav-toggle {
        display: none; } }
  .site-header #logo {
    display: inline-block;
    width: 180px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
      .site-header #logo {
        background-image: url("../img/logo@2x.png");
        background-size: 180px 150px; } }
    .stuck .site-header #logo {
      background-position: center; }
    @media only screen and (min-width: 1030px) {
      .site-header #logo {
        left: 0;
        margin-top: 0;
        background-position: center center; } }
  .site-header .primary-nav {
    display: none;
    position: absolute;
    right: 0;
    overflow: hidden; }
    .site-header .primary-nav ul {
      height: 100%; }
    .site-header .primary-nav a {
      font-family: "din", sans-serif;
      color: #807e82;
      text-transform: uppercase;
      font-weight: 600;
      display: block; }
    .site-header .primary-nav li {
      -webkit-transition: padding 0.3s ease-out;
      -moz-transition: padding 0.3s ease-out;
      -ms-transition: padding 0.3s ease-out;
      -o-transition: padding 0.3s ease-out;
      transition: padding 0.3s ease-out;
      border-top: 5px solid #fff;
      padding-top: 20px;
      float: left;
      margin-left: 20px;
      -webkit-transition: border-color 0.3s ease-out;
      -moz-transition: border-color 0.3s ease-out;
      -ms-transition: border-color 0.3s ease-out;
      -o-transition: border-color 0.3s ease-out;
      transition: border-color 0.3s ease-out; }
      .site-header .primary-nav li:hover, .site-header .primary-nav li.current-menu-item, .site-header .primary-nav li.current_page_parent {
        border-color: #00a0ae; }
        .site-header .primary-nav li:hover a, .site-header .primary-nav li.current-menu-item a, .site-header .primary-nav li.current_page_parent a {
          color: #00a0ae; }
    @media only screen and (min-width: 1030px) {
      .site-header .primary-nav {
        display: inline-block; } }
  @media only screen and (min-width: 1030px) {
    .site-header {
      -webkit-transition: height 0.3s ease-out;
      -moz-transition: height 0.3s ease-out;
      -ms-transition: height 0.3s ease-out;
      -o-transition: height 0.3s ease-out;
      transition: height 0.3s ease-out; } }

.site-footer {
  line-height: 1.8;
  font-weight: 100;
  background: #2a2a2a;
  color: #807e82; }
  .site-footer .wrapper {
    padding: 50px 0 50px 0;
    text-align: center; }
    .site-footer .wrapper .grid-3 {
      margin-bottom: 1.3em; }
    @media only screen and (min-width: 1030px) {
      .site-footer .wrapper {
        padding: 100px 0 100px 0;
        text-align: left; }
        .site-footer .wrapper .grid-3 {
          margin-bottom: 0; } }
  .site-footer .head, .site-footer .copyright {
    text-transform: uppercase;
    margin-bottom: 0.3em;
    font-weight: 600; }
    @media only screen and (min-width: 1030px) {
      .site-footer .head, .site-footer .copyright {
        margin-bottom: 1em; } }
  .site-footer .copyright {
    margin-bottom: 0;
    margin-top: 0.75em;
    text-align: center; }
    @media only screen and (min-width: 1030px) {
      .site-footer .copyright {
        text-align: right; } }

.footer-map {
  background: url(../img/footer-map.png) top left no-repeat #363636;
  height: 138px;
  width: 100%; }

.social-icons {
  list-style-type: none;
  margin: 0;
  text-align: center; }
  .social-icons .social {
    margin-left: 25px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/social-sprites.png) no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
      .social-icons .social {
        background-image: url("../img/social-sprites@2x.png");
        background-size: auto 24px; } }
    .social-icons .social:first-child {
      margin-left: 0; }
    .social-icons .social.fb {
      background-position: 0px; }
    .social-icons .social.twt {
      background-position: -24px; }
    .social-icons .social.ins {
      background-position: -48px; }
    .social-icons .social.lnkd {
      background-position: -72px; }
    .social-icons .social.rss {
      background-position: -96px; }
  @media only screen and (min-width: 1030px) {
    .social-icons {
      text-align: right; } }

.mobile-nav {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 999999;
  -webkit-box-shadow: 0 0 2px 0px #807e82;
  -moz-box-shadow: 0 0 2px 0px #807e82;
  -ms-box-shadow: 0 0 2px 0px #807e82;
  -o-box-shadow: 0 0 2px 0px #807e82;
  box-shadow: 0 0 2px 0px #807e82; }
  .mobile-nav:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00a0ae; }
  .mobile-nav a {
    background: #fff;
    display: block;
    font-size: 16px;
    font-family: "din", sans-serif;
    text-transform: uppercase;
    color: #2a2a2a;
    padding: 1em 0 1em 1em; }
    .mobile-nav a:hover {
      color: #fff;
      background: #807e82; }
  .mobile-nav-inactive .mobile-nav {
    display: none; }
  .mobile-nav-active .mobile-nav {
    display: block; }

.mobile-nav-wrapper {
  position: relative; }
  @media only screen and (min-width: 1030px) {
    .mobile-nav-wrapper {
      display: none; } }

.page-template-default, .blog, .search, .archive, .error404, .page-about, .page-home, .page-work, .page-services, .single-project {
  color: #807e82; }
  .page-template-default .splash img, .blog .splash img, .search .splash img, .archive .splash img, .error404 .splash img, .page-about .splash img, .page-home .splash img, .page-work .splash img, .page-services .splash img, .single-project .splash img {
    width: 100%;
    height: auto;
    display: block; }
  .page-template-default .stuck, .blog .stuck, .search .stuck, .archive .stuck, .error404 .stuck, .page-about .stuck, .page-home .stuck, .page-work .stuck, .page-services .stuck, .single-project .stuck {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px; }
    .mobile-nav-active .page-template-default .stuck, .mobile-nav-active .blog .stuck, .mobile-nav-active .search .stuck, .mobile-nav-active .archive .stuck, .mobile-nav-active .error404 .stuck, .mobile-nav-active .page-about .stuck, .mobile-nav-active .page-home .stuck, .mobile-nav-active .page-work .stuck, .mobile-nav-active .page-services .stuck, .mobile-nav-active .single-project .stuck {
      margin-left: 270px; }
    .page-template-default .stuck #logo, .blog .stuck #logo, .search .stuck #logo, .archive .stuck #logo, .error404 .stuck #logo, .page-about .stuck #logo, .page-home .stuck #logo, .page-work .stuck #logo, .page-services .stuck #logo, .single-project .stuck #logo {
      margin-top: 0; }
    .page-template-default .stuck .primary-nav, .blog .stuck .primary-nav, .search .stuck .primary-nav, .archive .stuck .primary-nav, .error404 .stuck .primary-nav, .page-about .stuck .primary-nav, .page-home .stuck .primary-nav, .page-work .stuck .primary-nav, .page-services .stuck .primary-nav, .single-project .stuck .primary-nav {
      height: 60px; }
      .page-template-default .stuck .primary-nav li, .blog .stuck .primary-nav li, .search .stuck .primary-nav li, .archive .stuck .primary-nav li, .error404 .stuck .primary-nav li, .page-about .stuck .primary-nav li, .page-home .stuck .primary-nav li, .page-work .stuck .primary-nav li, .page-services .stuck .primary-nav li, .single-project .stuck .primary-nav li {
        padding-top: 20px; }
  .page-template-default .hr, .blog .hr, .search .hr, .archive .hr, .error404 .hr, .page-about .hr, .page-home .hr, .page-work .hr, .page-services .hr, .single-project .hr {
    display: block;
    height: 10px;
    width: 100%;
    overflow: hidden;
    background-position: top center; }

.page-template-default .content {
  line-height: 1.4em;
  margin: 50px 0 50px 0;
  color: #807e82; }

.blog .nothing-found, .search .nothing-found, .archive .nothing-found, .error404 .nothing-found {
  padding: 0 0 30px 0; }
  .blog .nothing-found .msg, .search .nothing-found .msg, .archive .nothing-found .msg, .error404 .nothing-found .msg {
    text-align: center;
    font-weight: bold;
    font-size: 36px; }
  @media only screen and (min-width: 1030px) {
    .blog .nothing-found, .search .nothing-found, .archive .nothing-found, .error404 .nothing-found {
      padding: 0 0 50px 0; } }
.blog .search-categories, .search .search-categories, .archive .search-categories, .error404 .search-categories {
  padding: 30px 0 30px 0; }
  .blog .search-categories .wrapper, .search .search-categories .wrapper, .archive .search-categories .wrapper, .error404 .search-categories .wrapper {
    min-height: 50px; }
  @media only screen and (min-width: 1030px) {
    .blog .search-categories, .search .search-categories, .archive .search-categories, .error404 .search-categories {
      padding: 50px 0 50px 0; } }
.blog .search-box, .search .search-box, .archive .search-box, .error404 .search-box {
  display: none;
  padding: 10px 0 10px 0;
  position: relative; }
  @media only screen and (min-width: 1030px) {
    .blog .search-box, .search .search-box, .archive .search-box, .error404 .search-box {
      padding: 50px 0 50px 0; } }
  .blog .search-box .search-close, .search .search-box .search-close, .archive .search-box .search-close, .error404 .search-box .search-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #f41802;
    font-size: 50px;
    cursor: pointer; }
  .blog-search-active .blog .search-box, .blog-search-active .search .search-box, .blog-search-active .archive .search-box, .blog-search-active .error404 .search-box {
    display: block; }
.blog .filter-box, .search .filter-box, .archive .filter-box, .error404 .filter-box {
  position: relative;
  display: none;
  padding: 50px 0 45px 0; }
  .blog .filter-box .filter-close, .search .filter-box .filter-close, .archive .filter-box .filter-close, .error404 .filter-box .filter-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #f41802;
    font-size: 50px;
    cursor: pointer; }
  .blog-filter-active .blog .filter-box, .blog-filter-active .search .filter-box, .blog-filter-active .archive .filter-box, .blog-filter-active .error404 .filter-box {
    display: block; }
  .blog .filter-box .list-col, .search .filter-box .list-col, .archive .filter-box .list-col, .error404 .filter-box .list-col {
    list-style-type: none;
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 1em;
    line-height: 2em; }
    .blog .filter-box .list-col a, .search .filter-box .list-col a, .archive .filter-box .list-col a, .error404 .filter-box .list-col a {
      color: #807e82; }
      .blog .filter-box .list-col a:hover, .search .filter-box .list-col a:hover, .archive .filter-box .list-col a:hover, .error404 .filter-box .list-col a:hover {
        color: #00a0ae; }
.blog .actions, .search .actions, .archive .actions, .error404 .actions {
  padding-top: 5px;
  height: 50px;
  position: absolute;
  right: 0;
  overflow: hidden; }
  .blog .actions a, .search .actions a, .archive .actions a, .error404 .actions a {
    display: inline-block; }
  .blog-search-active .blog .actions, .blog-search-active .search .actions, .blog-search-active .archive .actions, .blog-search-active .error404 .actions {
    display: none; }
  .blog-filter-active .blog .actions, .blog-filter-active .search .actions, .blog-filter-active .archive .actions, .blog-filter-active .error404 .actions {
    display: none; }
.blog .post-listing, .search .post-listing, .archive .post-listing, .error404 .post-listing {
  background: #00a0ae;
  border-bottom: 1px solid #00929f; }
  .blog .post-listing a, .search .post-listing a, .archive .post-listing a, .error404 .post-listing a {
    color: #fff;
    display: block;
    padding: 30px 0 30px 0; }
    @media only screen and (min-width: 768px) {
      .blog .post-listing a, .search .post-listing a, .archive .post-listing a, .error404 .post-listing a {
        padding: 50px 0 50px 0; } }
    @media only screen and (min-width: 1030px) {
      .blog .post-listing a, .search .post-listing a, .archive .post-listing a, .error404 .post-listing a {
        padding: 100px 0 100px 0; } }
  .blog .post-listing:nth-child(1), .search .post-listing:nth-child(1), .archive .post-listing:nth-child(1), .error404 .post-listing:nth-child(1) {
    background-color: #0099a6;
    border: 0; }
  .blog .post-listing:nth-child(2), .search .post-listing:nth-child(2), .archive .post-listing:nth-child(2), .error404 .post-listing:nth-child(2) {
    background-color: #00929f;
    border: 0; }
  .blog .post-listing:nth-child(3), .search .post-listing:nth-child(3), .archive .post-listing:nth-child(3), .error404 .post-listing:nth-child(3) {
    background-color: #008b97;
    border: 0; }
  .blog .post-listing:nth-child(4), .search .post-listing:nth-child(4), .archive .post-listing:nth-child(4), .error404 .post-listing:nth-child(4) {
    background-color: #00848f;
    border: 0; }
  .blog .post-listing:nth-child(5), .search .post-listing:nth-child(5), .archive .post-listing:nth-child(5), .error404 .post-listing:nth-child(5) {
    background-color: #007d88;
    border: 0; }
  .blog .post-listing:nth-child(6), .search .post-listing:nth-child(6), .archive .post-listing:nth-child(6), .error404 .post-listing:nth-child(6) {
    background-color: #007680;
    border: 0; }
  .blog .post-listing:nth-child(7), .search .post-listing:nth-child(7), .archive .post-listing:nth-child(7), .error404 .post-listing:nth-child(7) {
    background-color: #006f78;
    border: 0; }
  .blog .post-listing:nth-child(8), .search .post-listing:nth-child(8), .archive .post-listing:nth-child(8), .error404 .post-listing:nth-child(8) {
    background-color: #006871;
    border: 0; }
  .blog .post-listing:nth-child(9), .search .post-listing:nth-child(9), .archive .post-listing:nth-child(9), .error404 .post-listing:nth-child(9) {
    background-color: #006169;
    border: 0; }
  .blog .post-listing:nth-child(10), .search .post-listing:nth-child(10), .archive .post-listing:nth-child(10), .error404 .post-listing:nth-child(10) {
    background-color: #005a62;
    border: 0; }
.blog .post-title, .blog .post-date, .search .post-title, .search .post-date, .archive .post-title, .archive .post-date, .error404 .post-title, .error404 .post-date {
  display: block; }
  @media only screen and (min-width: 1030px) {
    .blog .post-title, .blog .post-date, .search .post-title, .search .post-date, .archive .post-title, .archive .post-date, .error404 .post-title, .error404 .post-date {
      display: inline-block; } }
.blog .post-date, .search .post-date, .archive .post-date, .error404 .post-date {
  width: 100%; }
  @media only screen and (min-width: 1030px) {
    .blog .post-date, .search .post-date, .archive .post-date, .error404 .post-date {
      width: 30%; } }
.blog .post-title, .search .post-title, .archive .post-title, .error404 .post-title {
  font-size: 18px;
  text-transform: uppercase; }
.blog .pagination, .search .pagination, .archive .pagination, .error404 .pagination {
  padding: 50px 0 40px 0;
  background: #b1ba1d; }
  .blog .pagination a, .search .pagination a, .archive .pagination a, .error404 .pagination a {
    color: #fff;
    font-size: 50px;
    display: block;
    width: 43px;
    height: 43px; }
  .blog .pagination .left-links a, .blog .pagination .right-links a, .search .pagination .left-links a, .search .pagination .right-links a, .archive .pagination .left-links a, .archive .pagination .right-links a, .error404 .pagination .left-links a, .error404 .pagination .right-links a {
    width: 43px;
    height: 43px;
    position: absolute;
    background: url(../img/pager-sprites.png) no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
      .blog .pagination .left-links a, .blog .pagination .right-links a, .search .pagination .left-links a, .search .pagination .right-links a, .archive .pagination .left-links a, .archive .pagination .right-links a, .error404 .pagination .left-links a, .error404 .pagination .right-links a {
        background-image: url("../img/pager-sprites@2x.png");
        background-size: auto 43px; } }
  .blog .pagination .left-links a, .search .pagination .left-links a, .archive .pagination .left-links a, .error404 .pagination .left-links a {
    left: 0;
    background-position: left; }
  .blog .pagination .right-links a, .search .pagination .right-links a, .archive .pagination .right-links a, .error404 .pagination .right-links a {
    right: 0;
    background-position: right; }
  .blog .pagination .wrapper, .search .pagination .wrapper, .archive .pagination .wrapper, .error404 .pagination .wrapper {
    height: 50px;
    position: relative; }

.single-post .splash {
  background: #00a0ae;
  color: #fff;
  padding: 50px 1em 50px 1em; }
  .single-post .splash h1 {
    text-transform: uppercase;
    font-size: 36px; }
  @media only screen and (min-width: 1030px) {
    .single-post .splash {
      padding: 100px 0 100px 0; }
      .single-post .splash h1 {
        font-size: 62px; } }
.single-post .share {
  padding: 50px 1em 40px 0;
  text-align: right;
  text-transform: uppercase;
  color: #00a0ae; }
  .single-post .share .social {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/social-sprites.png) no-repeat; }
  .single-post .share .fb {
    background-position: 0px; }
  .single-post .share .twt {
    background-position: -24px; }
.single-post .copy {
  padding: 0 1em 50px 1em;
  color: #807e82; }
  @media only screen and (min-width: 1030px) {
    .single-post .copy {
      padding: 0 0 50px 0; } }
.single-post .post-footer {
  border-top: 1px solid #c4c4c4;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 40px 0; }
  .single-post .post-footer a {
    color: #807e82;
    display: block; }
  .single-post .post-footer .arrow.left {
    margin: 10px auto; }

#search-form input[type=text] {
  border: 0;
  padding: 2em 0 2em 0;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  outline: 0;
  font-family: "din", sans-serif;
  letter-spacing: 1px;
  font-size: 24px; }

.page-about .we-are-soulsight {
  padding: 50px 1em 50px 1em;
  background: #00a0ae;
  color: #fff; }
  .page-about .we-are-soulsight h1 {
    text-transform: uppercase; }
  @media only screen and (min-width: 1030px) {
    .page-about .we-are-soulsight {
      padding: 100px 0 100px 0; } }
.page-about .the-team .module-header {
  color: #807e82;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 40px 0; }
.page-about .the-team .module-body {
  padding: 50px 1em 50px 1em;
  text-align: center; }
  @media only screen and (min-width: 1030px) {
    .page-about .the-team .module-body {
      text-align: left;
      padding: 50px 0 50px 0; } }
.page-about .the-team .module-footer {
  color: #807e82;
  text-transform: uppercase;
  border-top: 1px solid #c4c4c4;
  padding: 50px 0 30px 0; }
  .page-about .the-team .module-footer .arrow.down {
    margin: 10px auto; }
.page-about .team-member, .page-about .team-member .front, .page-about .team-member .back {
  border-radius: 100%;
  width: 195px;
  height: 195px;
  overflow: hidden; }
.page-about .team-member {
  display: inline-block;
  margin: 20px auto 20px auto;
  background: white; }
  .page-about .team-member .back {
    background: #2a2a2a;
    text-align: center;
    padding-top: 40%; }
  .page-about .team-member .member-name {
    color: #b1ba1d;
    text-transform: uppercase;
    font-family: "din", sans-serif; }
  .page-about .team-member .member-title {
    color: #807e82;
    font-size: 0.9em;
    margin-top: 0.5em; }
  @media only screen and (min-width: 768px) {
    .page-about .team-member {
      margin-right: 10px; }
      .page-about .team-member:nth-child(4n) {
        margin-right: 0; } }
  @media only screen and (min-width: 1030px) {
    .page-about .team-member {
      margin-right: 18px; }
      .page-about .team-member:nth-child(4n) {
        margin-right: 0; } }
  @media only screen and (min-width: 1240px) {
    .page-about .team-member {
      margin-right: 55px; }
      .page-about .team-member:nth-child(4n) {
        margin-right: 0; } }
.page-about .join-the-team {
  padding: 50px 1em 50px 1em;
  background: #b1ba1d;
  color: #fff; }
  @media only screen and (min-width: 1030px) {
    .page-about .join-the-team {
      padding: 100px 0 100px 0; } }
  .page-about .join-the-team .copy {
    margin-bottom: 80px; }
  .page-about .join-the-team .listings ul {
    margin: 20px 0;
    list-style-type: none;
    overflow: hidden; }
  .page-about .join-the-team .listings li {
    float: left;
    border: 1px solid #fff;
    margin-bottom: 25px;
    width: 100%; }
    @media only screen and (min-width: 1030px) {
      .page-about .join-the-team .listings li {
        width: 200px;
        margin-left: 50px; }
        .page-about .join-the-team .listings li:first-child {
          margin: 0; } }
  .page-about .join-the-team .listings a {
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 1.5em; }
    @media only screen and (min-width: 1030px) {
      .page-about .join-the-team .listings a {
        width: 200px; } }
.page-about .find-us .module-header {
  color: #807e82;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 40px 0; }
.page-about .find-us .module-body {
  padding: 50px 1em 50px 1em; }
  @media only screen and (min-width: 1030px) {
    .page-about .find-us .module-body {
      padding: 100px 0 100px 0; } }
.page-about .find-us .world-map {
  background: none; }
  @media only screen and (min-width: 1030px) {
    .page-about .find-us .world-map {
      margin: auto;
      width: 845px;
      height: 562px;
      position: relative;
      background: url(../img/world-map.png) 0 0 no-repeat;
      background-size: contain; } }
.page-about .find-us .tiptop {
  font-size: 12px;
  text-transform: uppercase;
  padding: 1em 1.5em 1em 1.5em;
  color: #fff;
  background: #2a2a2a;
  position: relative; }
  .page-about .find-us .tiptop:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2a2a2a; }
.page-about .find-us .map-marker {
  display: block;
  padding: 1em;
  width: 100%;
  background: #2a2a2a;
  margin-bottom: 0.25em;
  cursor: pointer; }
  .page-about .find-us .map-marker:after {
    content: attr(data-location);
    color: #fff;
    background: #2a2a2a;
    padding: 1em; }
  @media only screen and (min-width: 1030px) {
    .page-about .find-us .map-marker {
      padding: 0;
      position: absolute;
      background: #000;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      z-index: 999; }
      .page-about .find-us .map-marker:after {
        content: "";
        background: 0;
        padding: 0; }
      .page-about .find-us .map-marker#north-america {
        top: 33%;
        left: 22%;
        background: #00a0ae; }
      .page-about .find-us .map-marker#europe {
        top: 33%;
        left: 45%;
        background: #f41802; }
      .page-about .find-us .map-marker#latin-america {
        top: 41%;
        left: 18.5%;
        background: #f41802; }
      .page-about .find-us .map-marker#asia {
        top: 35%;
        left: 80%;
        background: #b1ba1d; }
      .page-about .find-us .map-marker#africa {
        top: 50%;
        left: 48%;
        background: #00a0ae; }
      .page-about .find-us .map-marker#south-america {
        top: 66%;
        left: 33%;
        background: #b1ba1d; } }
.page-about .find-us .copy {
  margin: 100px 0 0 0;
  color: #807e82;
  font-weight: 100; }

.page-home #front-splash {
  position: relative;
  padding: 100px 0 100px 0;
  background-size: cover;
  background-repeat: repeat-x;
  background-position: top center;
  text-shadow: 0 0 5px #2a2a2a; }
  @media only screen and (min-width: 1030px) {
    .page-home #front-splash {
      height: 900px; } }
.page-home .splash-text {
  z-index: 11;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100; }
  @media only screen and (min-width: 768px) {
    .page-home .splash-text {
      font-size: 22px; } }
  @media only screen and (min-width: 1030px) {
    .page-home .splash-text {
      font-size: 30px;
      padding: 0;
      padding-top: 15%;
      position: absolute; } }
.page-home .splash-link img {
  width: 33px;
  height: auto;
  margin: 0 auto; }
.page-home .services .module-header {
  color: #807e82;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 40px 0; }
.page-home .services .module-body {
  padding: 50px 0 50px 0;
  text-align: center; }
  @media only screen and (min-width: 1030px) {
    .page-home .services .module-body {
      text-align: left; } }
.page-home .services .service {
  background-repeat: no-repeat;
  background-position: left 50% top 10px;
  padding-top: 90px;
  vertical-align: top;
  text-align: left;
  color: #807e82;
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .page-home .services .service .header {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 22px;
    text-align: center; }
  .page-home .services .service p {
    line-height: 1.6;
    font-weight: 100;
    font-size: 16px; }
  @media only screen and (min-width: 768px) {
    .page-home .services .service {
      width: 50%; } }
  @media only screen and (min-width: 1030px) {
    .page-home .services .service {
      margin-bottom: 0;
      margin-right: 24px;
      width: 190px;
      background-position: left 30px top 10px; }
      .page-home .services .service .header {
        text-align: left; }
      .page-home .services .service:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 1240px) {
    .page-home .services .service {
      width: 213px;
      margin-right: 30px; }
      .page-home .services .service:last-child {
        margin-right: 0; } }
.page-home .services .module-footer {
  color: #807e82;
  text-transform: uppercase;
  border-top: 1px solid #c4c4c4;
  padding: 50px 0 30px 0; }
  .page-home .services .module-footer .arrow.right {
    margin: 10px auto; }
.page-home .featured-projects .module-header {
  color: #807e82;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c4c4;
  padding: 50px 0 40px 0; }
.page-home .featured-projects .module-body {
  padding: 50px 0 50px 0;
  text-align: center; }
.page-home .featured-projects .module-footer {
  color: #807e82;
  text-transform: uppercase;
  border-top: 1px solid #c4c4c4;
  padding: 50px 0 30px 0; }
  .page-home .featured-projects .module-footer .arrow.right {
    margin: 10px auto; }
.page-home .featured-project, .page-home .featured-project .front, .page-home .featured-project .back {
  border-radius: 50%;
  width: 270px;
  height: 270px;
  overflow: hidden; }
.page-home .featured-project {
  display: inline-block;
  margin: 20px; }
  .page-home .featured-project .back {
    background: #2a2a2a;
    text-align: center;
    padding-top: 45%; }
  .page-home .featured-project a {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600; }
.page-home .img-above-footer {
  display: none;
  background-position: top center;
  height: 450px; }
  @media only screen and (min-width: 1030px) {
    .page-home .img-above-footer {
      display: block; } }
.page-home .pullquote-1, .page-home .pullquote-2 {
  padding: 40px 0 40px 0;
  background: #b1ba1d;
  color: #fff;
  text-align: center; }
  .page-home .pullquote-1 .wrapper, .page-home .pullquote-2 .wrapper {
    position: relative; }
  @media only screen and (min-width: 1030px) {
    .page-home .pullquote-1, .page-home .pullquote-2 {
      padding: 100px 0 100px 0; } }
.page-home .pullquote-1 {
  font-size: 20px; }
  .page-home .pullquote-1:before {
    font-size: 55px;
    font-family: "Proxima Nova", sans-serif;
    content: "\201C"; }
  .page-home .pullquote-1:after {
    font-size: 55px;
    font-family: "Proxima Nova", sans-serif;
    content: "\201D";
    position: relative;
    top: .75em; }
  @media only screen and (min-width: 768px) {
    .page-home .pullquote-1 {
      font-size: 30px; } }
  @media only screen and (min-width: 1030px) {
    .page-home .pullquote-1 {
      font-size: 36px; } }
.page-home .pullquote-2 {
  background-position: top center;
  font-size: 30px; }
  .page-home .pullquote-2 .open:before {
    font-family: "Proxima Nova", sans-serif;
    content: "\201C";
    position: absolute;
    top: 35%;
    left: 0; }
  .page-home .pullquote-2 .close:before {
    font-family: "Proxima Nova", sans-serif;
    content: "\201D";
    position: absolute;
    top: 35%;
    right: 0; }
  @media only screen and (min-width: 1030px) {
    .page-home .pullquote-2 {
      font-size: 60px; } }

.page-work .project-grid {
  padding: 100px 0 100px 0;
  text-align: center; }
.page-work .project {
  margin: 0 5px 5px 0;
  display: inline-block;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #eee; }
  .page-work .project a {
    width: 312px;
    height: 415px;
    display: block; }
.page-work .clients {
  background: #b1ba1d;
  padding: 100px 0 100px 0;
  text-align: center; }
  .page-work .clients img {
    width: 220px;
    height: 75px; }
.page-work .client {
  display: inline-block;
  margin: 0 10px 20px 0; }
.page-work .services {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #c4c4c4;
  padding: 50px 0 30px 0; }
  .page-work .services a {
    color: #807e82;
    display: block; }
  .page-work .services .arrow.right {
    margin: 10px auto; }

.page-services .sticky-menu {
  font-size: 16px;
  display: none; }
  @media only screen and (min-width: 1030px) {
    .page-services .sticky-menu {
      display: block; } }
.page-services #services {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #2a2a2a;
  color: #fff; }
  .page-services #services a {
    color: #b1ba1d; }
  .page-services #services h2 {
    text-transform: uppercase;
    color: #b1ba1d; }
  .page-services #services p {
    line-height: 1.8;
    font-size: 16px; }
  .page-services #services nav {
    padding: 100px 0 100px 0; }
  .page-services #services li {
    margin-bottom: 1em; }
  .page-services #services .fixed-menu {
    position: fixed;
    margin-bottom: 100px;
    top: 100px;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .page-services #services .service {
    margin-bottom: 200px;
    padding: 100px 1em 0 1em;
    background-repeat: no-repeat;
    background-position: -200px -200px; }
    .page-services #services .service p {
      color: #fff; }
    @media only screen and (min-width: 1030px) {
      .page-services #services .service {
        margin-bottom: 400px;
        padding: 200px 0;
        padding-left: 150px;
        background-position: top 200px left 20px; } }
  @media only screen and (min-width: 1030px) {
    .page-services #services #strategy {
      padding-top: 100px;
      background-position: top 100px left 20px; } }
  .page-services #services.strategy {
    background: #2a2a2a; }
    .page-services #services.strategy a {
      color: #b1ba1d; }
      .page-services #services.strategy a.active {
        color: #fff; }
    .page-services #services.strategy h2 {
      color: #b1ba1d; }
    .page-services #services.strategy p {
      color: #fff; }
  .page-services #services.branding {
    background: #fff; }
    .page-services #services.branding a {
      color: #807e82; }
      .page-services #services.branding a.active {
        color: #b1ba1d; }
    .page-services #services.branding h2 {
      color: #807e82; }
    .page-services #services.branding p {
      color: #807e82; }
  .page-services #services.packaging {
    background: #00a0ae; }
    .page-services #services.packaging a {
      color: #2a2a2a; }
      .page-services #services.packaging a.active {
        color: #fff; }
    .page-services #services.packaging h2 {
      color: #fff; }
    .page-services #services.packaging p {
      color: #fff; }
  .page-services #services.structural {
    background: #b1ba1d; }
    .page-services #services.structural a {
      color: #fff; }
      .page-services #services.structural a.active {
        color: #363636; }
    .page-services #services.structural h2 {
      color: #363636; }
    .page-services #services.structural p {
      color: #fff; }
  .page-services #services.additional {
    background: #fff; }
    .page-services #services.additional a {
      color: #00a0ae; }
      .page-services #services.additional a.active {
        color: #807e82; }
    .page-services #services.additional h2 {
      color: #807e82; }
    .page-services #services.additional p {
      color: #807e82; }

/**
 * Shame
 */
.single-project .project-detail {
  color: #807e82;
  padding: 50px 0 50px 0; }
  @media only screen and (min-width: 1030px) {
    .single-project .project-detail {
      padding: 100px 0 100px 0; } }
.single-project .project-name {
  text-transform: uppercase;
  margin-bottom: 0; }
.single-project .project-categories {
  font-size: 18px; }
.single-project .project-description {
  margin-top: 2em;
  line-height: 1.6;
  font-size: 16px; }
.single-project .project-images img {
  width: 100%;
  height: auto;
  display: block; }
.single-project .know-more {
  color: #807e82;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 40px 0;
  border-top: 1px solid #c4c4c4; }
  .single-project .know-more div {
    margin-bottom: 1em; }
    .single-project .know-more div:last-child {
      margin: 0; }
  .single-project .know-more a {
    display: block;
    color: #807e82; }

.din, h1, h2, .blog .post-title, .search .post-title, .archive .post-title, .error404 .post-title, .single-post .splash h1, .page-about .find-us .tiptop, .page-home .splash-text, .page-home .services .service .header, .page-home .pullquote-1, .page-home .pullquote-2, .single-project .project-name {
  font-family: "din", sans-serif;
  font-weight: 100; }
