/*----------------------------------------------------------------------------*\
*  $DEBUG-MODE -  visually highlight any potential markup/accessibility quirks
\*----------------------------------------------------------------------------*/

$debug-mode:                             false;

/*----------------------------------------------------------------------*\
*  $BORDER-BOX - http://www.paulirish.com/2012/box-sizing-border-box-ftw 
\*----------------------------------------------------------------------*/

$global-border-box:                      true!default;

/*----------------------------------------------------------------------*\
*  $BASE-STYLES
\*----------------------------------------------------------------------*/

$base-font-size:                         14px!default;
$base-line-height:                       18px!default;
$base-font-family:                       'Proxima Nova', sans-serif!default;

$h1-size:                                36px!default;
$h2-size:                                30px!default;
$h3-size:                                24px!default;
$h4-size:                                20px!default;
$h5-size:                                16px!default;
$h6-size:                                14px!default;

/*----------------------------------------------------------------------*\
*  $BRAND-STYLES
\*----------------------------------------------------------------------*/
$ss-teal:                                #00a0ae;
$ss-green:                               #b1ba1d;
$ss-red:                                 #f41802;
$ss-dark-gray:                           #2a2a2a;
$ss-med-gray:                            #363636;
$ss-light-gray:                          #807e82;
$ss-lighter-gray:                        #c4c4c4;

// Variant Color Spelling!
$ss-dark-grey:                           $ss-dark-gray;
$ss-med-grey:                            $ss-med-gray;
$ss-light-grey:                          $ss-light-gray;
$ss-lighter-grey:                        $ss-lighter-gray;

$brand-face:                             'din', sans-serif!default;
$link-color:                              $ss-teal;

$base-spacing-unit:                      $base-line-height!default;
$half-spacing-unit:                      $base-spacing-unit / 2!default;
$line-height-ratio:                      $base-line-height / $base-font-size;

/*----------------------------------------------------------------------*\
*  $BREAKPOINTS
\*----------------------------------------------------------------------*/
$mobile:                                 'max-width: 480px';
$larger-mobile:                          'min-width: 481px';  /* Larger mobile */
$tablet:                                 'min-width: 768px'; /* Tablet & Smaller Laptops */
$desktop:                                'min-width: 1030px'; /* Desktop */
$large-screen:                           'min-width: 1240px'; /* Large Screens */