@import 'objects/dashicons';

#adminmenu{
  // .menu-icon-board-member {
  //   @include dashicon('dashicons-businessman');
  // }

  .menu-icon-team-member {
      @include dashicon('dashicons-businessman');
  }

  .menu-icon-project {
      @include dashicon('dashicons-art');
  }

  .menu-icon-client {
      @include dashicon('dashicons-welcome-view-site');
  }
}

