@import 'settings';

// Core
@import 'core/mixins';
@import 'core/normalize';
@import "core/reset";
@import "core/grid";
@import "core/base";
@import "core/typography";
@import "core/animations";
@import "core/debug";


// Abstract, reusable objects
@import "objects/html-entities";
@import "objects/module";
@import "objects/media";
@import "objects/button";
@import "objects/sprites";
@import "objects/flip-card";


// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/mobile-nav";
@import "partials/page";
@import "partials/blog";
@import "partials/page-about";
@import "partials/page-home";
@import "partials/page-work";
@import "partials/page-services";
@import "partials/single-project";


// Modules 


.din {
  font-family: $brand-face;
  font-weight: 100;
}
